secret.key
node_modules
.ipynb_checkpoints/
pipeline/pickles/dataframe.pkl
pipeline/pickles/title_sentence_embeddings.pkl
pipeline/pickles/text_sentence_embeddings.pkl
.idea
.env
logs
.DS_Store
results
runs
.python-version
